h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 79px;
    color: #0a2ff1;
}

span {
background-color: #3ffff3;
color: #0a2ff1;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: medium;
    font-size: 31px;
    color: #0a2ff1;
}

.contenedor {
background-image: url(../assets/fondo.JPG);
background-repeat: no-repeat;
background-position: bottom;
width: 800px;
}