p {
    font-family: 'Poppins', sans-serif;
    font-weight: light;
    font-size: 32px;
    color:  #0a2ff1;
    text-align: center;
}

span {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color:  #0a2ff1;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.img-principal {
    margin: 10px 30px;
}

.img {
    width:100px;
    padding-top: 70px;
}

.img-secundaria {
    width:100px;
    padding-top: 45px;
}