* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fixed {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    /*positions*/
    position: fixed;
    top: 50%;
    left: 50%;
}
.fixed-abajo-derecha {
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    /*positions*/
    position: fixed;
    right: 1px;
    bottom: 1px;
    background-color: aliceblue;
}
.fixed-abajo-izquierda {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(255, 0, 255);
    /*positions*/
    position: fixed;
    right: 1px;
    bottom: 1px;
    background-color: aquamarine;
}

.circulo {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left:50%; 
}