@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,900;1,400&display=swap');

.col-md-6 h1 {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: #04146c;
}

.col-md-6 p {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #04146c;
}

.col-md-6 span {
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 1.4rem;
        color: #04146c;
}

/* Estilos para pantallas mayores a 768px */
@media (min-width: 768px) {
    .col-md-6 {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 20px 0 20px 0;
    }

    .col-md-6 img {
        width: 100%;
        align-self: flex-end;
        padding: 20px 20px 0 0;
    }

    .col-md-6 button {
        text-transform: uppercase;
        background-color: #04146c;
        color: white;
        margin: 0;
        margin-right: 20px;
    }
}

/* Estilos para pantallas menores a 768px */
@media (max-width: 767px) {
    .col-md-6 {
        display: block;
        text-align: center;
        padding: 20px;
    }

    .col-md-6 h1, .col-md-6 p {
        margin: 0;
    }

    .col-md-6 img {
        width: 80%;
        display: block;
        margin: 20px auto;
    }

    .col-md-6 button {
        text-transform: uppercase;
        background-color: #04146c;
        color: white;
        font-family: 'Source Sans 3', sans-serif;
        font-weight: 400;
        align-items: center;
        margin-top: 20px;
        width: 150px;
        margin-left: 20px;
    }
}